<ion-header>
  <ion-navbar color="primary">
    <ion-title>Categoria</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="save()">Salvar</button>
      <button *ngIf="category._id" ion-button icon-only (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>Titulo</ion-label>
      <ion-input [(ngModel)]="category.title" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Descricao</ion-label>
      <ion-textarea [(ngModel)]="category.description" rows="4"></ion-textarea>
    </ion-item>

    <ion-item text-center>
      <button ion-button clear (click)="getPictureOptions()">
        <ion-icon name="camera" item-left></ion-icon>
        Selecionar Foto
      </button>
    </ion-item>
    <ion-item *ngIf="category.photo">
      <img [src]="category.photo" alt="" />
    </ion-item>
  </ion-list>
</ion-content>
